html,body{
    margin:0;
    padding:0;
}

body {
    width: 70%;
    margin: 1% auto;
    background-position: center top;
    background-image: url(background1.jpg);
    background-attachment: fixed;
    color: black;
}

header,article {
    display: block;
    width: 700px;
    margin: auto;
    padding: 5px 30px 5px 30px;
}
 
header {
    height: 160px;
    background-image: url(obr.jpg);
    background-repeat: no-repeat;
    text-align: center;
}
 
article {
         min-height: 200px;
         border: 1px solid red;
         border-radius: 20px;
         box-shadow: 10px 10px 40px 0px #630900 inset;
         font-family: Arial;
         background-color: #ffffff;
         opacity: 0.6;
         filter: alpha(opacity=60);
         color: black;
} 

h1, h2 {
    text-shadow: 5px 3px 3px #333333, 10px 5px 5px red;
}            

h1.b {
text-shadow: none;
font-size: 55px;
font-family: Akzidenz-Grotesk, Clarendon, Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
color: dark silver;
}   
                     
h2 {
font-size: 40px;
}

p {
text-align: justify;
font-size: 150%;
text-indent: 10px;
color: black;
}